In [8]:
import numpy as np
import pandas as pd
import keras
from sklearn.model_selection import train_test_split
from sklearn import svm

In [6]:
df = pd.read_csv('falldeteciton.csv')
df.head()

   ACTIVITY     TIME        SL      EEG  BP   HR  CIRCLUATION
0         3  4722.92   4019.64 -1600.00  13   79          317
1         2  4059.12   2191.03 -1146.08  20   54          165
2         2  4773.56   2787.99 -1263.38  46   67          224
3         4  8271.27   9545.98 -2848.93  26  138          554
4         4  7102.16  14148.80 -2381.15  85  120          809

In [7]:
df2 = pd.concat([df, pd.get_dummies(df['ACTIVITY'], prefix='ACTIVITY')], axis=1)
df2 = df2.drop(['ACTIVITY'], axis=1)
df2.head()

,TIME,SL,EEG,BP,HR,CIRCLUATION,ACTIVITY_0,ACTIVITY_1,ACTIVITY_2,ACTIVITY_3,ACTIVITY_4,ACTIVITY_5
0,4722.92,4019.64,-1600.00,13,79,317,0,0,0,1,0,0
1,4059.12,2191.03,-1146.08,20,54,165,0,0,1,0,0,0
2,4773.56,2787.99,-1263.38,46,67,224,0,0,1,0,0,0
3,8271.27,9545.98,-2848.93,26,138,554,0,0,0,0,1,0
4,7102.16,14148.80,-2381.15,85,120,809,0,0,0,0,1,0

Our Goal is to predict the various classes of fall rates. Let us start by scaling all the columns

In [21]:
from sklearn.preprocessing import StandardScaler
y = df.iloc[:,0]
x = df.iloc[:,1:]
scaler = StandardScaler()
scaler.fit(x)
x = scaler.transform(x)
X_train, X_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=42)

## SVM

In [ ]:
print('Lets Try some ploynomial kernels')
for i in range(10):
    clf = svm.SVC(kernel='poly', degree=i)
    clf.fit(X_train, y_train)
    score = clf.score(X_test, y_test)
    print(' For degree ', i+1, ' the score is ',score)

Lets Try some ploynomial kernels
 For degree  1  the score is  0.27128471162648765
 For degree  2  the score is  0.31644797070491304
 For degree  3  the score is  0.301495270064083
 For degree  4  the score is  0.2956972841013122
 For degree  5  the score is  0.3082087274946598
 For degree  6  the score is  0.31339639914555995
 For degree  7  the score is  0.3143118706133659
 For degree  8  the score is  0.32194079951174853

In [ ]:
print('Now lets try the RBF Kernel')
clf = svm.SVC(kernel='poly', degree=i)
clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)
print(' For RBF the score is ',score)